body{
	background-color: black ;
}

h1{
	text-transform: uppercase;
  font-size: 3rem;
}
img {
	height: 350px;
	width: 200px;
  }

.poster{
	width:65%;
  	margin-left: 17%;
  	margin-top: 100px;
  	color: white;
  	font-family: "Libre Baskerville", serif;
  	text-align: center;
}

.motivation-pic{
	border: 10px solid white;
  width: 100%;
}